@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@model CipherApp.Models.VigenereModel

@{
    ViewData["Title"] = Localizer["Heading"];
}

<div class="banner d-flex flex-column justify-content-center">
    <div class="about mt-5">
        <h1 class="text-uppercase">@Localizer["Heading"]</h1> 
        <h3>@Localizer["Subheading"]</h3>
        <p>@Localizer["Description"]</p>
    </div>
    <div class="chars">x</div>
    <div class="chars">$</div>
    <div class="chars">0</div>
    <div class="chars">h</div>
    <div class="chars">w</div>
    <div class="chars">q</div>
    <div class="chars">#</div>
    <div class="chars">u</div>
    <div class="chars">f</div>
    <div class="chars">?</div>
    <div class="chars">4</div>
    <div class="chars">r</div>
    <div class="chars">ą</div>
    <div class="chars">&</div>
    <div class="chars">c</div>
    <div class="chars">x</div>
    <div class="chars">$</div>
    <div class="chars">0</div>
    <div class="chars">h</div>
    <div class="chars">w</div>
    <div class="chars">q</div>
    <div class="chars">#</div>
    <div class="chars">u</div>
    <div class="chars">f</div>
    <div class="chars">?</div>
    <div class="chars">4</div>
    <div class="chars">r</div>
    <div class="chars">ą</div>
    <div class="chars">&</div>
    <div class="chars">c</div>
    <a href="#encoder" class="scroll-down mt-5">@Localizer["MainButton"]<i class="fas fa-arrow-down"></i></a>
</div>

<div class="coders-wrapper">
    <div id="encoder" class="encoder d-flex flex-column justify-content-center">
        <h3>@Localizer["Encoder"]</h3>
        <form asp-action="VigenereEncoder" method="post">
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <div class="form-group">
                <label asp-for="EncoderPlainText">@Localizer["EncoderPlain"]</label>
                <textarea asp-for="EncoderPlainText" class="form-control" rows="6"></textarea>
                <span asp-validation-for="EncoderPlainText" class="error"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <div class="form-group">
                <label asp-for="EncoderKey">@Localizer["Key"]</label>
                <input type="text" asp-for="EncoderKey" class="form-control" autocomplete="off">
                <span asp-validation-for="EncoderKey" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncoderCipherText">@Localizer["EncoderCipher"]</label>
                <textarea asp-for="EncoderCipherText" class="form-control" rows="6"></textarea>
            </div>
            <div class="buttons d-flex justify-content-between align-items-center">
                <button type="submit" class="button-primary text-uppercase">@Localizer["Encrypt"]</button>
                <a href="#decoder" class="scroll-link">dekoder<i class="fas fa-arrow-down"></i></a>
            </div>
        </form>
    </div>

    <div id="decoder" class="decoder d-flex flex-column justify-content-center">
        <h3>@Localizer["Decoder"]</h3>
        <form asp-action="VigenereDecoder" method="post">
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <div class="form-group">
                <label asp-for="DecoderCipherText">@Localizer["DecoderCipher"]</label>
                <textarea asp-for="DecoderCipherText" class="form-control" rows="6"></textarea>
                <span asp-validation-for="DecoderCipherText" class="error"></span>
            </div>
            <div asp-validation-summary="ModelOnly" class="error"></div>
            <div class="form-group">
                <label asp-for="DecoderKey">@Localizer["Key"]</label>
                <input type="text" asp-for="DecoderKey" class="form-control" autocomplete="off">
                <span asp-validation-for="DecoderKey" class="error"></span>
            </div>
            <div class="form-group">
                <label asp-for="DecoderPlainText">@Localizer["DecoderPlain"]</label>
                <textarea asp-for="DecoderPlainText" class="form-control" rows="6"></textarea>
            </div>
            <div class="buttons d-flex justify-content-between align-items-center">
                <button type="submit" class="button-primary text-uppercase">@Localizer["Decrypt"]</button>
                <a href="#encoder" class="scroll-link">enkoder<i class="fas fa-arrow-up"></i></a>
            </div>
        </form>
    </div>
</div>

<div id="description" class="description d-flex flex-column justify-content-center">
    <div class="text-wrapper">
        <h3>@Localizer["InfoHeading"]</h3>
        <p>
            <span class="green">@Localizer["Type"]</span>@Localizer["TypeDesc"]
        </p>
        <p>
            <span class="green">@Localizer["History"]</span>@Localizer["HistoryDesc"]
        </p>
        <p>
            <span class="green">@Localizer["Method"]</span>@Localizer["MethodDesc"]
        </p>
        <a href="http://www.algorytm.org/kryptografia/szyfr-vigenere-a.html" target="_blank"><i class="far fa-question-circle"></i>@Localizer["LinkInfo"]</a>
    </div>
    <div class="img-wrapper d-none">
        <img src="~/images/vigenere.png" alt="vigenere's portrait" />
        <p>Blaise de <span class="green">Vigenère</span></p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
